<input type="radio" id="0" name="q9" value="0" [(ngModel)]="flag"  (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 )</label><br>
  <input type="radio" id="1" name="q9" value="1" [(ngModel)]="flag"  (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 )</label><br>
  <input type="radio" id="2" name="q9" value="2" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 )</label><br>
  <br>
  <input type="radio" id="0" name="q9" value="0" (change)=radioEventHandler2($event)>
  <label for="0" style="font-weight:bold">0 )</label><br>
  <input type="radio" id="1" name="q9" value="3" (change)=radioEventHandler2($event)>
  <label for="1" style="font-weight:bold">3 )</label><br>
  <input type="radio" id="2" name="q9" value="4" (change)=radioEventHandler2($event)>
  <label for="2" style="font-weight:bold">4 )</label><br>
  

  <span>First:{{score3}}</span><br>
<span>Second:{{score4}}</span><br>
<span>Total:{{ ConvertToInt(score3)   + ConvertToInt(score4) }}</span><br>