<input type="radio" id="0" name="q9" [value]="0" [(ngModel)]="flag1"  (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 )</label><br>
  <input type="radio" id="1" name="q9" [value]="1"[(ngModel)]="flag1"  (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 )</label><br>
  <input type="radio" id="2" name="q9" [value]="2"  [(ngModel)]="flag1"  (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 )</label><br>
  

 <span>Score:<!--{{score2}}-->{{flag1}}</span><br>
 <button [routerLink]="['/page2']" (click)="setScore1(flag1)">
      Previous
    </button>
<button [routerLink]="['/page3']"  (click)="setScore1(flag1)" [disabled]="!buttonDisabled" >
      Next
    </button>