<input type="radio" id="0" name="q9" value="0" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 )</label><br>
  <input type="radio" id="1" name="q9" value="1" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 )</label><br>
  <input type="radio" id="2" name="q9" value="2" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 )</label><br>
  

 <span>Score:{{score2}}</span><br>
<button [routerLink]="['/page3']">
      Next
    </button>